<%!
    from django.utils.translation import ugettext as _
    from django.core.urlresolvers import reverse
%>

<%inherit file="../main.html" />
<%block name="pagetitle">${_("Re-Verification")}</%block>

<%block name="content">
<div class="reverify-blocked">
    <h1 class="title">${_("Reverification")}</h1>

    <div class="instructions">
        <p>
            % if status in ["pending", "approved"]:
                ${_("You have already submitted a verification attempt, so you don't need to reverify.")}
            % else:
                ${_("You cannot reverify at this time.")}
            % endif
        </p>
    </div>

    <div class="wrapper-actions">
        <a class="action action-primary" href="${ reverse('dashboard') }">${_("Return to Your Dashboard")}</a>
    </div>
</div>

</%block>
